.hero {
    background: url("../pizza.it.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 81vh;
    color: white;
    display: flex;
    align-items: center;
}

.container.py-5 h3 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 8px;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.navbar {
    background-color: grey !important;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: #1a1a1a90 !important;
}

.pizza-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.container.py-5 h2 {
    font-family: 'Anton', sans-serif;
}

#Conocenos {
    margin-top: 100px;
}

#Conocenos p {
    font-family: sans-serif;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
}

#Conocenos img {
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.mapa {
    max-width: 800px;
    margin: 0 auto;
}

.mapa iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}

#Visitanos {
    margin-top: 100px;
}

#Pedidos {
    margin-top: 280px;
}

section {
    scroll-margin-top: 80px;
}
